body {
    font-size: $baseFontSize + px;
    @media(max-width: 767px){
        font-size: $baseFontSize - 2 + px;
    }
}

.radius-10 {
    border-radius: 10px;
}

.flex-img {
    display: flex;

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.hover-img {
    .image {
        overflow: hidden;

        img {
            transition: all .5s ease-in-out;
            transform: scale(1) rotate(0deg);
        }
    }

    &:hover .image img {
        transform: scale(1.05) rotate(1deg);
    }
}

.hover-shadow {
    transition: .3s ease-in-out;

    &:hover {
        box-shadow: 3px 2px 8px 4px rgb(#000, .05);
    }
}

.slick-dots {
    display: flex;
    align-items: center;
    bottom: -35px;

    li {
        width: 5px;
        height: 5px;
        margin: 0 3px;
        background-color: darken($colorSecondary, 10);
        transition: .3s ease-in-out;
        border-radius: 10px;

        button {
            display: none;
        }

        &.slick-active {
            width: 10px;
        }
    }
}

.home-banner{
    .countrySelectWrapper {
        div[class*="ValueContainer"], div[class*="Input"] {
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;
        }
    }
}

.res-pb-255{
    @media(max-width: 767px){
        padding-bottom: 255px;
    }
}

.worldmap__figure-container{
    @media(max-width: 575px){
        transform: scale(.9);
    }
}
