.fs-50 {
    font-size: rem(50) !important;
    @media(max-width: 767px){
        font-size: rem(28) !important;
    }
    @media(max-width: 575px){
        font-size: rem(20) !important;
    }
}

.fs-36 {
    font-size: rem(36) !important;
    @media(max-width: 767px){
        font-size: rem(28) !important;
    }
    @media(max-width: 575px){
        font-size: rem(22) !important;
    }
}

.fs-35 {
    font-size: rem(35) !important;
    @media(max-width: 767px){
        font-size: rem(28) !important;
    }
    @media(max-width: 575px){
        font-size: rem(22) !important;
    }
}

.fs-32 {
    font-size: rem(32) !important;
    @media(max-width: 767px){
        font-size: rem(28) !important;
    }
    @media(max-width: 575px){
        font-size: rem(22) !important;
    }
}

.fs-28 {
    font-size: rem(28) !important;
    @media(max-width: 767px){
        font-size: rem(20) !important;
    }
    @media(max-width: 575px){
        font-size: rem(18) !important;
    }
}

.fs-24 {
    font-size: rem(24) !important;
    @media(max-width: 767px){
        font-size: rem(20) !important;
    }
    @media(max-width: 575px){
        font-size: rem(18) !important;
    }
}

.fs-20 {
    font-size: rem(20) !important;
    @media(max-width: 575px){
        font-size: rem(16) !important;
    }
}

.fs-16 {
    font-size: rem(16) !important;
    @media(max-width: 575px){
        font-size: rem(15) !important;
    }
}

.fs-15 {
    font-size: rem(15) !important;
    @media(max-width: 575px){
        font-size: rem(14) !important;
    }
}

.fw-700 { font-weight: 700 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-300 { font-weight: 300 !important; }


@media(max-width: 575px){
    .fs-sm-30 { font-size: 30px !important; }
    .fs-sm-28 { font-size: 28px !important; }
    .fs-sm-26 { font-size: 26px !important; }
    .fs-sm-24 { font-size: 24px !important; }
    .fs-sm-22 { font-size: 22px !important; }
    .fs-sm-20 { font-size: 20px !important; }
    .fs-sm-18 { font-size: 18px !important; }
    .fs-sm-16 { font-size: 16px !important; }
    .fs-sm-15 { font-size: 15px !important; }
    .fs-sm-14 { font-size: 14px !important; }
}